.about-section {
  padding: 60px 10%;
}

.about-title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 40px;
  font-weight: bold;
}

 
.about-grid {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
}

 
.about-left {
  flex: 2;
}

.about-left p {
  margin-bottom: 16px;
  line-height: 1.6;
}

 
.skills-section {
  margin-top: 25px;
}

.skills-section h3 {
  margin-bottom: 10px;
}

.skills-section ul {
  list-style: disc;
  margin-left: 20px;
}

.skills-section li {
  margin-bottom: 6px;
}

 
.about-right {
  flex: 1;
  display: flex;
  justify-content: center;
}

.profile-card {
  text-align: center;
}

.profile-img {
  width: 300px;          
  height: 360px;         
  object-fit: cover;     
  border-radius: 12px;   
  border: 3px solid #ddd;
}

.profile-name {
  font-size: 18px;
  margin-top: 12px;
  font-weight: bold;
}

 
@media (max-width: 900px) {
  .about-grid {
    flex-direction: column;
    text-align: center;
  }

  .about-right {
    order: -1;
  }

  .profile-img {
    width: 220px;
    height: 220px;
  }
}
